[Unit]
Description=Album Player App
After=network.target

[Service]
WorkingDirectory=/home/dyonak/Album-Player-Standalone
ExecStart=/home/dyonak/Album-Player-Standalone/myvenv/bin/python3 AlbumPlayer.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
